<!DOCTYPE HTML>
<html ng-app="toDoApp">
<head>
<title>To Do App</title>
<!-- stylesheet -->
<link href="css/toDoApp.css" rel="stylesheet">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript" src="js/toDoApp.js"></script>
</head>
<body ng-controller="toDoCtrl">
	<h2 class="app-title">My To-do List</h2>

	<div class="app-container">
		<form ng-submit="toDoAdd()">
			<input type="text" ng-model="toDoInput" size="50"
				placeholder="Add New"> <input class="btn" type="submit" value="+">
		</form>



		<div class="list-container" ng-repeat="x in toDoList track by $index">
			<div class="list-content">
				<input type="checkbox" ng-model="x.done"> <span
					ng-bind="x.text"></span>
			</div>
		</div>

		<div class="remove">
			<button class="btn" ng-click="remove()">Remove Marked</button>
		</div>
	</div>
</body>
</html>